# 忽略模型
/best_models/
/saved_models/

# 忽略数据集
/dataset/
/pj1_savedData/

# 忽略图像
/figs/

# 忽略报告
/刘丁嘉 22307140049 Report.pdf
/刘丁嘉 22307140049 Report.md

# 忽略不必要文件
__pycache__/
/dataset_explore.ipynb
/test_train.py

# 忽略随机数
/idx.pickle
/myidx.pickle
